*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #89cfef;
    color: #131e3a;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #131e3a;
    font-weight: bold;
}

nav ul a:hover{
    color: #0f1fcc;
}

#about{
    padding: 80px 0;
    color:  #fff;
}

span{
    color: #000080;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:  #131e3a;
    margin-bottom: 30px;
}
h1{
    text-align: center;
}
h3{
    margin: 5px;
}
.skills{
    width: 500px;
    margin: 60px auto;
    color: #000080;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0,0.25), 0 10px 10px rgba(0, 0, 0,0.22);
}
.skills li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #89cfef;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0,0.12), 0 1px 2px rgba(0, 0, 0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0,0.25), 0 10px 10px rgba(0, 0, 0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(30, 116, 203)0%, rgb(2, 87, 223)100%);
}
.Microsoft-Office-tools{
    width: 80%;
    animation: Microsoft-Office-tools 3s;
}
.Adobe-Photoshop-and-After-Effects{
    width: 60%;
    animation: Adobe-Photoshop-and-After-Effects 3s;
}
.HTML-and-CSS{
    width: 40%;
    animation: HTML-and-CSS 3s;
}
.Python{
    width: 50%;
    animation: Python 3s;
}
@keyframes Microsoft-Office-tools{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}    
@keyframes Adobe-Photoshop-and-After-Effects{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}    
@keyframes HTML-and-CSS{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}    
@keyframes Python{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}    

.back-button {
    width: 50px;
    height: 50px;
    background-color: #131e3a;
    border-radius: 50%;
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.back-button span {
    font-size: 30px;
    color: #fff;
}

.back-button:hover {
    background-color: #0f1fcc;
}
.blue-footer {
    background-color:  #131e3a;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
